<div class="consentr-container">
  <div
    class="consentr-notification"
    role="dialog"
    aria-labelledby="consentr-title"
    aria-describedby="consentr-description"
  >
    <h2 id="consentr-title">{ title }</h2>
    <p id="consentr-description">{ description }</p>
    <div class="actions">
      <button on:click="close('accepted')">{ acceptText }</button>
      <a href="{ settingsPage }" on:click="close('settings')"
        >{ settingsText }</a
      >
    </div>
  </div>
</div>

<style>
  .consentr-container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 16px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
  }

  .consentr-notification {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 48px;
    background: #fff;
    /* box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16); */
    box-shadow: 0px 85px 80px rgba(0, 0, 0, 0.01),
      0px 35.511px 33.4221px rgba(0, 0, 0, 0.0718854),
      0px 18.9859px 17.869px rgba(0, 0, 0, 0.0596107),
      0px 10.6433px 10.0172px rgba(0, 0, 0, 0.05),
      0px 5.65259px 5.32008px rgba(0, 0, 0, 0.0403893),
      0px 2.35217px 2.21381px rgba(0, 0, 0, 0.0281146);
    /* display: flex; */

    @media (max-width: 500px) {
      max-width: none;
      right: 0;
      bottom: 0;
    }
  }

  h2 {
    margin-top: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 12px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.7;
    margin-bottom: 36px;
  }

  .actions {
    display: flex;
    align-items: center;
    height: 56px;

    > * {
      font-size: 16px;
      margin-right:32px;
    }
  }

  button {
    border: none;
    background: #193441;
    padding: 0 20px;
    height: 100%;
    color: #fff;
    margin-right: 20px;
  }

  button:hover {
    cursor: pointer;
  }

  a {
    height: 100%;
    line-height: 56px;
    color: #193441;
  }

  @media (max-width: 800px) {
    .consentr-notification {
      padding: 24px;
    }

    h2,
    p {
      font-size: 16px;
    }

    p {
      margin-bottom:24px;
    }
  }
</style>

<script>
  export default {
    methods: {
      close(status) {
        this.fire(status);
        this.destroy();
      },
    },
  };
</script>
