<div class="consentr-notification" role="dialog" aria-labelledby="consentr-title" aria-describedby="consentr-description">
  <h2 id="consentr-title">{ title }</h2>
  <p id="consentr-description">{ description }</p>
  <div class="actions">
    <button on:click="close('accepted')">{ acceptText }</button>
    <a href="{ settingsPage }" on:click="close('settings')">{ settingsText }</a>
  </div>
</div>

<style>

.consentr-notification {
  box-sizing: border-box;
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 100%;
  max-width: 320px;
  padding:16px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);

  @media (max-width: 500px) {
    max-width: none;
    right:0;
    bottom:0;
  }
}

h2 {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 12px;
}

p {
  font-size: 14px;
  line-height: 1.5;
  opacity: .7;
  margin-bottom: 24px;
}

.actions {
  display: flex;
  align-items: center;
  height: 40px;

  > * {
    font-size:16px;
  }
}

button {
  border: none;
  background: #193441;
  padding: 0 20px;
  height: 100%;
  color:#fff;
  margin-right: 20px;
}

a {
  color: #193441;
}

</style>

<script>

export default {
  methods: {
    close(status) {
      this.fire(status);
      this.destroy();
    }
  }
};

</script>
