{#each permissions as permission}
  <div class="permission">
    <div class="switch {permission.granted ? 'granted' : ''} {permission.required ? 'required' : ''}" on:click="onClick(permission, this)">
      {#each labels as label}
        <span>{label}</span>
      {/each}
    </div>
    <div class="description">
      {@html permission.description}
    </div>
  </div>
{/each}

<style>
.permission {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom:0;
  }
}

.switch {
  flex: 0 80px;
  height: 40px;
  background: rgba(0,0,0,.2);
  border-radius: 20px;
  position: relative;
  transition: background .2s ease-out;

  span {
    font-size: 8px;
    line-height: 1;
    position: absolute;
    top:50%;
    left:16px;
    transform:translateY(-50%);
    z-index: 1;
    text-transform: uppercase;
    color: #193441;

    &:last-child {
      left: auto;
      right:16px;
    }
  }

  &:before {
    content: ' ';
    width: 40px;
    height: 40px;
    border-radius:50%;
    background: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    position: absolute;
    top:0;
    left:0;
    transition: transform .1s ease-out;
    z-index: 2;
  }

  &:hover {
    cursor: pointer;
  }

  &.granted {
    background: #193441;

    &:before {
      transform: translateX(100%);
    }

    span {
      color: #fff;
    }
  }

  &.required {
    background: rgba(0,0,0,.2);

    span {
      color: #193441;
    }
  }
}

.description {
  flex: 1;
  margin-left: 30px;

  :global(*:first-child) {
    margin-top:0;
  }
}

</style>

<script>
import { getPermissions, grantPermission, denyPermission } from "../permissions.js";

export default {
  data() {
    return {
      permissions: getPermissions(),
      labels: ['', '']
    };
  },

  methods: {
    onClick(permission, elm) {
      if(permission.required) {
        return;
      }

      if(!permission.granted) {
        grantPermission(permission)
      } else {
        denyPermission(permission)
      }

      elm.classList.toggle('granted');
    }
  }
};
</script>
